<section class="contact py-5 bg-white text-center">
  <h2 class="text-uppercase heading my-4 mx-auto fw-bold fs-1">
    Contact <i class="fa-solid fa-star"></i>
  </h2>
  <div class="container">

    <div class="form d-flex flex-column align-items-center ">
      <input class="w-75 mb-3 py-4 fs-4 input" type="text" placeholder="Name">
      <input class="w-75 mb-3 py-4 fs-4 input" type="email" placeholder="Email">
      <input class="w-75 mb-3 py-4 fs-4 input" type="tel" placeholder="Phone Number">
      <textarea class="w-75 mb-3 py-4 fs-4 input" placeholder="Message"></textarea>
      <button class="btn btn-success fs-5 d-block">Send</button>
    </div>
  </div>
</section>
