<section class="portfolio text-center">
  <h2 class="text-uppercase heading my-5 mx-auto fw-bold fs-1">
    portfolio <i class="fa-solid fa-star"></i>
  </h2>
  <div class="container">
    <div class="row g-4 gap-row-3">
      <div class="img-box col-md-4">
        <img class="img-fluid rounded-3" src="./assets/imgs/cabin.png" alt="portfolio img" />
      </div>
      <div class="img-box col-md-4">
        <img class="img-fluid rounded-3" src="./assets/imgs/cake.png" alt="portfolio img" />
          </div>
      <div class="img-box col-md-4">
        <img class="img-fluid rounded-3" src="./assets/imgs/circus.png" alt="portfolio img" />
      </div>
      <div class="img-box col-md-4">
        <img class="img-fluid rounded-3" src="./assets/imgs/game.png" alt="portfolio img" />
      </div>
      <div class="img-box col-md-4">
        <img class="img-fluid rounded-3" src="./assets/imgs/safe.png" alt="portfolio img" />
      </div>
      <div class="img-box col-md-4">
        <img class="img-fluid rounded-3" src="./assets/imgs/submarine.png" alt="portfolio img" />
      </div>
    </div>
  </div>
</section>
