<section class="abou py5 text-cente">
  <div
    class="about text-white d-flex justify-content-center align-items-center"
  >
    <div>
      <div class="mb-5">
        <h2
          class="text-uppercase text-center head mb-2 mt-4 mx-auto fw-bold fs-1 position-relative"
        >
          ABOUT COMPONENT
          <div class="star">
            <span class="one"></span>
            <i class="fa-solid fa-star"></i>
            <span class="two"></span>
          </div>
        </h2>
      </div>
      <div class="container">
        <div class="row px-5">
          <div class="col-md-6 ps-md-5">
            <p>
              Freelancer is a free bootstrap theme created by Route. The
              download includes the complete source files including HTML, CSS,
              and JavaScript as well as optional SASS stylesheets for easy
              customization.
            </p>
          </div>
          <div class="col-md-6 pe-5">
            <p>
              Freelancer is a free bootstrap theme created by Route. The
              download includes the complete source files including HTML, CSS,
              and JavaScript as well as optional SASS stylesheets for easy
              customization.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
