<section class="about py-5 text-center">
  <h2 class="text-uppercase heading my-4 mx-auto fw-bold fs-1 text-white">
    about <i class="fa-solid fa-star"></i>
  </h2>
  <div class="row text-white fs-5 justify-content-center">
    <div class="col-md-4">
      <p class="ms-md-3">
        Freelancer is a free bootstrap theme created by Start Bootstrap. The
        download includes the complete source files including HTML, CSS, and
        JavaScript as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
    <div class="col-md-4">
      <p class="ms-md-3">
        You can create your own custom avatar for the masthead, change the icon
        in the dividers, and add your email address to the contact form to make
        it fully functional!
      </p>
    </div>
  </div>
</section>
