header {
  background-color: var(--main-color);

  & li a {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
  }

  & li a:hover,
  .active {
    color: var(--sec-color) !important;
  }
}
@media (max-width: 767px) {
  li a {
    font-size: 12px !important;
    font-weight: 600 !important;
  }
}
