<header>
  <div class="container">
    <nav class="d-flex align-items-center justify-content-between py-4">
      <div class="logo fs-2">
        <a class="text-white fw-bold" routerLink="home">Angular</a>
      </div>
      <ul class="d-flex align-items-center m-0">
        <li>
          <a
            class="ps-3 fs-5 text-capitalize text-white fw-bold"
            routerLinkActive="active"
            routerLink="portfolio"
            >portfolio</a
          >
        </li>
        <li>
          <a
            class="ps-3 fs-5 text-capitalize text-white fw-bold "
            routerLinkActive="active"
            routerLink="about"
            >about</a
          >
        </li>
        <li>
          <a
            class="ps-3 fs-5 text-capitalize text-white fw-bold "
            routerLinkActive="active"
            routerLink="contact"
            >contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
