.home{
  background-color: var(--sec-color);
  min-height: calc(100vh - 125px);
  & .avatar {
    width: 250px;
  }
  .head {
    color: #fff;
    width: fit-content;
    & span {
      background-color: #fff;
    }
  }
  & p {
    font-size: 15px;
  }
}
